<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horzits.business.mapper.monitor.MonRuleWorkstateMapper">

    <resultMap id="Result" type="MonRuleWorkstate">
        <id property="workstateId" column="workstate_id"/>
        <result property="ruleId" column="rule_id"/>
        <result property="ruleCode" column="rule_code"/>
        <result property="paramKey" column="param_key"/>
        <result property="normalMin" column="normal_min"/>
        <result property="normalMax" column="normal_max"/>
        <result property="alarmLevel" column="alarm_level"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectVo">
        select workstate_id, rule_id, rule_code, param_key, normal_min, normal_max, alarm_level,
               create_by, create_time, update_by, update_time, remark from mon_rule_workstate
    </sql>

    <select id="selectMonRuleWorkstateById" resultMap="Result">
        <include refid="selectVo"/> where workstate_id = #{workstateId}
    </select>

    <select id="selectMonRuleWorkstateList" parameterType="MonRuleWorkstate" resultMap="Result">
        <include refid="selectVo"/>
        <where>
            <if test="ruleId != null">and rule_id = #{ruleId}</if>
            <if test="ruleCode != null and ruleCode != ''">and rule_code = #{ruleCode}</if>
            <if test="paramKey != null and paramKey != ''">and param_key = #{paramKey}</if>
        </where>
        order by workstate_id desc
    </select>

    <insert id="insertMonRuleWorkstate" parameterType="MonRuleWorkstate" useGeneratedKeys="true" keyProperty="workstateId">
        insert into mon_rule_workstate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleId != null">rule_id,</if>
            <if test="ruleCode != null">rule_code,</if>
            <if test="paramKey != null">param_key,</if>
            <if test="normalMin != null">normal_min,</if>
            <if test="normalMax != null">normal_max,</if>
            <if test="alarmLevel != null">alarm_level,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ruleId != null">#{ruleId},</if>
            <if test="ruleCode != null">#{ruleCode},</if>
            <if test="paramKey != null">#{paramKey},</if>
            <if test="normalMin != null">#{normalMin},</if>
            <if test="normalMax != null">#{normalMax},</if>
            <if test="alarmLevel != null">#{alarmLevel},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateMonRuleWorkstate" parameterType="MonRuleWorkstate">
        update mon_rule_workstate
        <trim prefix="set" suffixOverrides=",">
            <if test="ruleId != null">rule_id = #{ruleId},</if>
            <if test="ruleCode != null">rule_code = #{ruleCode},</if>
            <if test="paramKey != null">param_key = #{paramKey},</if>
            <if test="normalMin != null">normal_min = #{normalMin},</if>
            <if test="normalMax != null">normal_max = #{normalMax},</if>
            <if test="alarmLevel != null">alarm_level = #{alarmLevel},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where workstate_id = #{workstateId}
    </update>

    <delete id="deleteMonRuleWorkstateById">
        delete from mon_rule_workstate where workstate_id = #{workstateId}
    </delete>

    <delete id="deleteMonRuleWorkstateByIds">
        delete from mon_rule_workstate where workstate_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

    <delete id="deleteMonRuleWorkstateByRuleId">
        delete from mon_rule_workstate where rule_id = #{ruleId}
    </delete>
</mapper>
