<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horzits.business.mapper.monitor.MonRuleThresholdMapper">

    <resultMap id="MonRuleThresholdResult" type="MonRuleThreshold">
        <id property="thresholdId" column="id"/>
        <result property="ruleId" column="rule_id"/>
        <result property="resourceType" column="resource_type"/>
        <result property="minValue" column="min_value"/>
        <result property="maxValue" column="max_value"/>
    </resultMap>

    <sql id="selectVo">
        select id, rule_id, resource_type, min_value, max_value from threshold_rule_table
    </sql>

    <select id="selectMonRuleThresholdById" resultMap="MonRuleThresholdResult">
        <include refid="selectVo"/> where id = #{thresholdId}
    </select>

    <select id="selectMonRuleThresholdList" parameterType="MonRuleThreshold" resultMap="MonRuleThresholdResult">
        <include refid="selectVo"/>
        <where>
            <if test="ruleId != null">and rule_id = #{ruleId}</if>
            <if test="resourceType != null and resourceType != ''">and resource_type = #{resourceType}</if>
        </where>
        order by id desc
    </select>

    <insert id="insertMonRuleThreshold" parameterType="MonRuleThreshold" useGeneratedKeys="true" keyProperty="thresholdId">
        insert into threshold_rule_table (rule_id, resource_type, min_value, max_value)
        values (#{ruleId}, #{resourceType}, #{minValue}, #{maxValue})
    </insert>

    <update id="updateMonRuleThreshold" parameterType="MonRuleThreshold">
        update threshold_rule_table
        <trim prefix="set" suffixOverrides=",">
            <if test="ruleId != null">rule_id = #{ruleId},</if>
            <if test="resourceType != null">resource_type = #{resourceType},</if>
            <if test="minValue != null">min_value = #{minValue},</if>
            <if test="maxValue != null">max_value = #{maxValue},</if>
        </trim>
        where id = #{thresholdId}
    </update>

    <delete id="deleteMonRuleThresholdById">
        delete from threshold_rule_table where id = #{thresholdId}
    </delete>

    <delete id="deleteMonRuleThresholdByIds">
        delete from threshold_rule_table where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

    <delete id="deleteMonRuleThresholdByRuleId">
        delete from threshold_rule_table where rule_id = #{ruleId}
    </delete>
</mapper>
