<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horzits.business.mapper.monitor.MonRuleCommTimeoutMapper">

    <resultMap id="Result" type="MonRuleCommTimeout">
        <id property="timeoutId" column="timeout_id"/>
        <result property="ruleId" column="rule_id"/>
        <result property="endpointCode" column="endpoint_code"/>
        <result property="timeoutSec" column="timeout_sec"/>
        <result property="alarmLevel" column="alarm_level"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectVo">
        select timeout_id, rule_id, endpoint_code, timeout_sec, alarm_level,
               create_by, create_time, update_by, update_time, remark from mon_rule_comm_timeout
    </sql>

    <select id="selectMonRuleCommTimeoutById" resultMap="Result">
        <include refid="selectVo"/> where timeout_id = #{timeoutId}
    </select>

    <select id="selectMonRuleCommTimeoutList" parameterType="MonRuleCommTimeout" resultMap="Result">
        <include refid="selectVo"/>
        <where>
            <if test="ruleId != null">and rule_id = #{ruleId}</if>
            <if test="endpointCode != null and endpointCode != ''">and endpoint_code like concat('%', #{endpointCode}, '%')</if>
        </where>
        order by timeout_id desc
    </select>

    <insert id="insertMonRuleCommTimeout" parameterType="MonRuleCommTimeout" useGeneratedKeys="true" keyProperty="timeoutId">
        insert into mon_rule_comm_timeout
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleId != null">rule_id,</if>
            <if test="endpointCode != null and endpointCode != ''">endpoint_code,</if>
            <if test="timeoutSec != null">timeout_sec,</if>
            <if test="alarmLevel != null">alarm_level,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ruleId != null">#{ruleId},</if>
            <if test="endpointCode != null and endpointCode != ''">#{endpointCode},</if>
            <if test="timeoutSec != null">#{timeoutSec},</if>
            <if test="alarmLevel != null">#{alarmLevel},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateMonRuleCommTimeout" parameterType="MonRuleCommTimeout">
        update mon_rule_comm_timeout
        <trim prefix="set" suffixOverrides=",">
            <if test="ruleId != null">rule_id = #{ruleId},</if>
            <if test="endpointCode != null">endpoint_code = #{endpointCode},</if>
            <if test="timeoutSec != null">timeout_sec = #{timeoutSec},</if>
            <if test="alarmLevel != null">alarm_level = #{alarmLevel},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where timeout_id = #{timeoutId}
    </update>

    <delete id="deleteMonRuleCommTimeoutById">
        delete from mon_rule_comm_timeout where timeout_id = #{timeoutId}
    </delete>

    <delete id="deleteMonRuleCommTimeoutByIds">
        delete from mon_rule_comm_timeout where timeout_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

    <delete id="deleteMonRuleCommTimeoutByRuleId">
        delete from mon_rule_comm_timeout where rule_id = #{ruleId}
    </delete>
</mapper>
