<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallway.business.mapper.monitor.MonRuleMapper">

    <resultMap id="MonRuleResult" type="MonRule">
        <id property="ruleId" column="rule_id"/>
        <result property="ruleName" column="rule_name"/>
        <result property="sceneType" column="scene_type"/>
        <result property="isEnabled" column="is_enabled"/>
        <result property="alarmLevel" column="alarm_level"/>
        <result property="accumulateCount" column="accumulate_count"/>
        <result property="createTime" column="created_at"/>
        <result property="updateTime" column="updated_at"/>
    </resultMap>

    <sql id="selectMonRuleVo">
        select rule_id, rule_name, scene_type, is_enabled, alarm_level, accumulate_count, created_at, updated_at
        from rules_table
    </sql>

    <select id="selectMonRuleById" resultMap="MonRuleResult">
        <include refid="selectMonRuleVo"/>
        where rule_id = #{ruleId}
    </select>

    <select id="selectMonRuleList" parameterType="MonRule" resultMap="MonRuleResult">
        <include refid="selectMonRuleVo"/>
        <where>
            <if test="ruleName != null and ruleName != ''">and rule_name like concat('%', #{ruleName}, '%')</if>
            <if test="sceneType != null">and scene_type = #{sceneType}</if>
            <if test="isEnabled != null">and is_enabled = #{isEnabled}</if>
            <if test="params.beginTime != null and params.beginTime != ''">and created_at &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null and params.endTime != ''">and created_at &lt;= #{params.endTime}</if>
        </where>
        order by rule_id desc
    </select>

    <insert id="insertMonRule" parameterType="MonRule" useGeneratedKeys="true" keyProperty="ruleId">
        insert into rules_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleName != null and ruleName != ''">rule_name,</if>
            <if test="sceneType != null">scene_type,</if>
            <if test="isEnabled != null">is_enabled,</if>
            <if test="alarmLevel != null">alarm_level,</if>
            <if test="accumulateCount != null">accumulate_count,</if>
            created_at,
            updated_at,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ruleName != null and ruleName != ''">#{ruleName},</if>
            <if test="sceneType != null">#{sceneType},</if>
            <if test="isEnabled != null">#{isEnabled},</if>
            <if test="alarmLevel != null">#{alarmLevel},</if>
            <if test="accumulateCount != null">#{accumulateCount},</if>
            #{createTime},
            #{updateTime},
        </trim>
    </insert>

    <update id="updateMonRule" parameterType="MonRule">
        update rules_table
        <trim prefix="set" suffixOverrides=",">
            <if test="ruleName != null">rule_name = #{ruleName},</if>
            <if test="sceneType != null">scene_type = #{sceneType},</if>
            <if test="isEnabled != null">is_enabled = #{isEnabled},</if>
            <if test="alarmLevel != null">alarm_level = #{alarmLevel},</if>
            <if test="accumulateCount != null">accumulate_count = #{accumulateCount},</if>
            updated_at = #{updateTime},
        </trim>
        where rule_id = #{ruleId}
    </update>

    <delete id="deleteMonRuleById">
        delete from rules_table where rule_id = #{ruleId}
    </delete>

    <delete id="deleteMonRuleByIds">
        delete from rules_table where rule_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>
</mapper>
