<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horzits.business.mapper.monitor.MonRuleMapper">

    <resultMap id="MonRuleResult" type="MonRule">
        <id property="ruleId" column="rule_id"/>
        <result property="siteCode" column="site_code"/>
        <result property="deviceId" column="device_id"/>
        <result property="ruleCode" column="rule_code"/>
        <result property="ruleName" column="rule_name"/>
        <result property="ruleDesc" column="rule_desc"/>
        <result property="sceneType" column="scene_type"/>
        <result property="enabled" column="enabled"/>
        <result property="effectBegin" column="effect_begin"/>
        <result property="effectEnd" column="effect_end"/>
        <result property="maxAccumCount" column="max_accum_count"/>
        <result property="isCount" column="is_count"/>
        <result property="maxSerialPerLevel" column="max_serial_per_level"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectMonRuleVo">
        select rule_id, site_code, device_id, rule_code, rule_name, rule_desc, scene_type, enabled,
               effect_begin, effect_end, max_accum_count, is_count, max_serial_per_level, del_flag,
               create_by, create_time, update_by, update_time, remark
        from mon_rule
    </sql>

    <select id="selectMonRuleById" resultMap="MonRuleResult">
        <include refid="selectMonRuleVo"/>
        where rule_id = #{ruleId} and del_flag = '0'
    </select>

    <select id="selectMonRuleList" parameterType="MonRule" resultMap="MonRuleResult">
        <include refid="selectMonRuleVo"/>
        <where>
            and del_flag = '0'
            <if test="siteCode != null and siteCode != ''">and site_code = #{siteCode}</if>
            <if test="deviceId != null">and device_id = #{deviceId}</if>
            <if test="ruleCode != null and ruleCode != ''">and rule_code like concat('%', #{ruleCode}, '%')</if>
            <if test="ruleName != null and ruleName != ''">and rule_name like concat('%', #{ruleName}, '%')</if>
            <if test="sceneType != null and sceneType != ''">and scene_type = #{sceneType}</if>
            <if test="enabled != null and enabled != ''">and enabled = #{enabled}</if>
            <if test="params.beginTime != null and params.beginTime != ''">and create_time &gt;= #{params.beginTime}</if>
            <if test="params.endTime != null and params.endTime != ''">and create_time &lt;= #{params.endTime}</if>
        </where>
        order by rule_id desc
    </select>

    <insert id="insertMonRule" parameterType="MonRule" useGeneratedKeys="true" keyProperty="ruleId">
        insert into mon_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="siteCode != null">site_code,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="ruleCode != null and ruleCode != ''">rule_code,</if>
            <if test="ruleName != null">rule_name,</if>
            <if test="ruleDesc != null">rule_desc,</if>
            <if test="sceneType != null and sceneType != ''">scene_type,</if>
            <if test="enabled != null">enabled,</if>
            <if test="effectBegin != null">effect_begin,</if>
            <if test="effectEnd != null">effect_end,</if>
            <if test="maxAccumCount != null">max_accum_count,</if>
            <if test="isCount != null">is_count,</if>
            <if test="maxSerialPerLevel != null">max_serial_per_level,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="siteCode != null">#{siteCode},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="ruleCode != null and ruleCode != ''">#{ruleCode},</if>
            <if test="ruleName != null">#{ruleName},</if>
            <if test="ruleDesc != null">#{ruleDesc},</if>
            <if test="sceneType != null and sceneType != ''">#{sceneType},</if>
            <if test="enabled != null">#{enabled},</if>
            <if test="effectBegin != null">#{effectBegin},</if>
            <if test="effectEnd != null">#{effectEnd},</if>
            <if test="maxAccumCount != null">#{maxAccumCount},</if>
            <if test="isCount != null">#{isCount},</if>
            <if test="maxSerialPerLevel != null">#{maxSerialPerLevel},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateMonRule" parameterType="MonRule">
        update mon_rule
        <trim prefix="set" suffixOverrides=",">
            <if test="siteCode != null">site_code = #{siteCode},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="ruleCode != null and ruleCode != ''">rule_code = #{ruleCode},</if>
            <if test="ruleName != null">rule_name = #{ruleName},</if>
            <if test="ruleDesc != null">rule_desc = #{ruleDesc},</if>
            <if test="sceneType != null and sceneType != ''">scene_type = #{sceneType},</if>
            <if test="enabled != null">enabled = #{enabled},</if>
            <if test="effectBegin != null">effect_begin = #{effectBegin},</if>
            <if test="effectEnd != null">effect_end = #{effectEnd},</if>
            <if test="maxAccumCount != null">max_accum_count = #{maxAccumCount},</if>
            <if test="isCount != null">is_count = #{isCount},</if>
            <if test="maxSerialPerLevel != null">max_serial_per_level = #{maxSerialPerLevel},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where rule_id = #{ruleId} and del_flag = '0'
    </update>

    <update id="deleteMonRuleById">
        update mon_rule set del_flag = '2' where rule_id = #{ruleId}
    </update>

    <update id="deleteMonRuleByIds">
        update mon_rule set del_flag = '2' where rule_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>
</mapper>
