<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horzits.business.mapper.monitor.MonRuleCountMapper">

    <resultMap id="MonRuleCountResult" type="MonRuleCount">
        <id property="countId" column="id"/>
        <result property="ruleId" column="rule_id"/>
        <result property="deviceNo" column="device_no"/>
        <result property="currentCount" column="current_count"/>
        <result property="lastCheckTime" column="last_check_time"/>
    </resultMap>

    <sql id="selectVo">
        select id, rule_id, device_no, current_count, last_check_time from alarm_count_table
    </sql>

    <select id="selectMonRuleCountById" resultMap="MonRuleCountResult">
        <include refid="selectVo"/> where id = #{countId}
    </select>

    <select id="selectByRuleIdAndDeviceNo" resultMap="MonRuleCountResult">
        <include refid="selectVo"/> where rule_id = #{ruleId} and device_no = #{deviceNo}
    </select>

    <select id="selectMonRuleCountList" parameterType="MonRuleCount" resultMap="MonRuleCountResult">
        <include refid="selectVo"/>
        <where>
            <if test="ruleId != null">and rule_id = #{ruleId}</if>
            <if test="deviceNo != null and deviceNo != ''">and device_no = #{deviceNo}</if>
        </where>
        order by id desc
    </select>

    <insert id="insertMonRuleCount" parameterType="MonRuleCount" useGeneratedKeys="true" keyProperty="countId">
        insert into alarm_count_table (rule_id, device_no, current_count, last_check_time)
        values (#{ruleId}, #{deviceNo}, #{currentCount}, #{lastCheckTime})
    </insert>

    <update id="updateMonRuleCount" parameterType="MonRuleCount">
        update alarm_count_table
        <trim prefix="set" suffixOverrides=",">
            <if test="currentCount != null">current_count = #{currentCount},</if>
            <if test="lastCheckTime != null">last_check_time = #{lastCheckTime},</if>
        </trim>
        where id = #{countId}
    </update>

    <delete id="deleteMonRuleCountById">
        delete from alarm_count_table where id = #{countId}
    </delete>

    <delete id="deleteMonRuleCountByIds">
        delete from alarm_count_table where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

    <delete id="deleteMonRuleCountByRuleId">
        delete from alarm_count_table where rule_id = #{ruleId}
    </delete>
</mapper>
